*{
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  footer {
    border-top: 1px solid #ddd;
  }

  .home-button {
    background: url('/public/logo/oe_logo_at_1x.svg') no-repeat center center;
    background-size: contain;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
  }

  .content {
    flex: 1; /* This makes the content area take up the remaining space */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .nav-button {
    background-color: #0077be;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

  .nav-button:hover {
    background-color: #005f9e;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    max-width: 100px;
    cursor: pointer;
  }

  .active-mission {
    font-weight: bold;
    color: #007BFF;
    background-color: #e0f7ff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.active-mission:hover {
    background-color: #cceeff;
}

.logo-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-left: 1rem;
}

  